/*.testimoniImage{*/
    /*border-radius: 50% !important;*/
    /*height: 250px !important;*/
    /*width: 250px !important;*/
/*}*/
/*.testmonCard{*/
    /*padding-top: 50px;*/
/*}*/
.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right,#f7f7f7,#b7bfc1);
}
.footer {
    position: static;
    margin-top: 160px;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: #a6f5ff;*/
    color: white;
    text-align: center;
    height: 300px;
    background-image: linear-gradient(to bottom right,#f7f7f7,#639dab);
}
hr{
    top: 161px;
    position: relative;
}

.contentsContinue{
    letter-spacing: 4px;
}